<div class="row">
  <div class="col-sm-4">
    <p class="h2">Welcome to Note App</p>
    <p>With this app, you can;</p>
    <ul>
      <li>Store notes</li>
      <li>Add notes</li>
      <li>Edit notes</li>
    </ul>
    <p>...and many more</p>
    <div class="mt-5">
      <p>For any inquiries, contact tyhe developer on,</p>
      <ul>
        <li>Twitter: <strong>@rashfordheadmat</strong></li>
        <li>Facebook: <strong>Nashib JR O.B.E</strong></li>
        <li>WhatsApp: <strong>+256 703681010</strong></li>
        <li>Email: <strong>nashib.kigoonya@students.mak.ac.ug</strong></li>
      </ul>
    </div>
  </div>
  <div class="col-sm-8"></div>
</div>