<form action="/search">
  <div class="row mb-3">
    <div class="col-sm-10 mb-3 mt-1">
      <input type="text"
       name="note" 
       placeholder="Search notes" 
       class="form-control"
       />
    </div>
    <div class="col-sm-2 mt-1">
      <button type="button" class="btn btn-dark w-100">Search</button>
    </div>
  </div>
</form>