<form action="/addnewnote" class="w-75 mt-5 mx-auto">
  <div>
    <label for="title" class="form-label">Title:</label>
    <input type="text" name="title" class="form-control"/>
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Content:</label>
    <textarea name="content" id="content" cols="20" rows="7" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-dark w-25">Add</button>
</form>