<form action="/newnote" class="w-75 mt-5 mx-auto">
  <div>
    <label for="title" class="form-label">Title:</label>
    <input type="text" name="title" class="form-control" required/>
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Content:</label>
    <textarea name="content" id="content" cols="20" rows="7" class="form-control" required></textarea>
  </div>
  <button type="submit" class="btn btn-dark w-25">Add</button>
  {{#if message}}
    <div class="alert alert-warning h-25 w-50 p-3 mt-5">
      {{{message}}}
    </div>
    {{else}}
      <div></div>
  {{/if}}
</form>