.home-content {
  display: flex; 
  flex-wrap: wrap;
  margin-top: 5vh;
  justify-content: flex-start;
}

.home {
  border: 1px solid grey; 
  width: 30%; 
  padding: 10px; 
  margin: 10px; 
  border-radius: 10px;
}

.home:hover {
  background-color: #fdfdfd;
  box-shadow: 0 0 10px 0 #000;
  border: none;
}

@media screen and (max-width: 770px) {
  .home {
    width: 100%;
  }
}
